<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="love.xihongshi.dao.MerchantMapper">
  <resultMap id="BaseResultMap" type="love.xihongshi.bean.Merchant">
    <id column="mid" jdbcType="BIGINT" property="mid" />
    <result column="mname" jdbcType="VARCHAR" property="mname" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="principalname" jdbcType="VARCHAR" property="principalname" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="phonenum" jdbcType="VARCHAR" property="phonenum" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
  </resultMap>
  <resultMap id="BaseResultMapWithUser" type="love.xihongshi.bean.Merchant">
    <id column="mid" jdbcType="BIGINT" property="mid" />
    <result column="mname" jdbcType="VARCHAR" property="mname" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="principalname" jdbcType="VARCHAR" property="principalname" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="phonenum" jdbcType="VARCHAR" property="phonenum" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <association property="user"
                  javaType="love.xihongshi.bean.User">
      <id column="uid" jdbcType="BIGINT" property="uid" />
      <result column="wid" jdbcType="VARCHAR" property="wid" />
      <result column="nickName" jdbcType="VARCHAR" property="nickName" />
      <result column="avatarUrl" jdbcType="VARCHAR" property="avatarUrl" />
      <result column="gender" jdbcType="INTEGER" property="gender" />
      <result column="province" jdbcType="VARCHAR" property="province" />
      <result column="city" jdbcType="VARCHAR" property="city" />
      <result column="userFlag" jdbcType="INTEGER" property="userFlag"/>
      <result column="workerFlag" jdbcType="INTEGER" property="workerFlag"/>
      <result column="merchantFlag" jdbcType="INTEGER" property="merchantFlag"/>
  </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    mid, mname, status, address, principalname, idcard, phonenum, uid
  </sql>
  <sql id="Base_Column_List_User">
    m.mid, m.mname, m.status, m.address, m.principalname, m.idcard,
    m.phonenum, u.uid, u.wid, u.nickName, u.avatarUrl, u.gender, u.province,
    u.city
  </sql>
  <select id="selectByExample" parameterType="love.xihongshi.bean.MerchantExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from merchant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant
    where mid = #{mid,jdbcType=BIGINT}
  </select>

<!--  联合查询user-->
  <select id="selectByExampleWithUser"
          parameterType="love.xihongshi.bean.MerchantExample"
          resultMap="BaseResultMapWithUser">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List_User" />
    from merchant m left join user u on m.uid=u.uid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKeyWithUser" parameterType="java.lang.Long"
          resultMap="BaseResultMapWithUser">
    select
    <include refid="Base_Column_List_User" />
    from merchant m left join user u on m.uid=u.uid
    where mid = #{mid,jdbcType=BIGINT}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from merchant
    where mid = #{mid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="love.xihongshi.bean.MerchantExample">
    delete from merchant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="love.xihongshi.bean.Merchant">
    insert into merchant (mid, mname, status, 
      address, principalname, idcard, 
      phonenum, uid, l2, l3
      )
    values (#{mid,jdbcType=BIGINT}, #{mname,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{principalname,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{phonenum,jdbcType=INTEGER}, #{uid,jdbcType=BIGINT}, #{l2,jdbcType=VARCHAR}, #{l3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="love.xihongshi.bean.Merchant">
    insert into merchant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        mid,
      </if>
      <if test="mname != null">
        mname,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="principalname != null">
        principalname,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="phonenum != null">
        phonenum,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="l2 != null">
        l2,
      </if>
      <if test="l3 != null">
        l3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        #{mid,jdbcType=BIGINT},
      </if>
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="principalname != null">
        #{principalname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        #{phonenum,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="l2 != null">
        #{l2,jdbcType=VARCHAR},
      </if>
      <if test="l3 != null">
        #{l3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="love.xihongshi.bean.MerchantExample" resultType="java.lang.Long">
    select count(*) from merchant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update merchant
    <set>
      <if test="record.mid != null">
        mid = #{record.mid,jdbcType=BIGINT},
      </if>
      <if test="record.mname != null">
        mname = #{record.mname,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.principalname != null">
        principalname = #{record.principalname,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null">
        idcard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.phonenum != null">
        phonenum = #{record.phonenum,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.l2 != null">
        l2 = #{record.l2,jdbcType=VARCHAR},
      </if>
      <if test="record.l3 != null">
        l3 = #{record.l3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update merchant
    set mid = #{record.mid,jdbcType=BIGINT},
      mname = #{record.mname,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      principalname = #{record.principalname,jdbcType=VARCHAR},
      idcard = #{record.idcard,jdbcType=VARCHAR},
      phonenum = #{record.phonenum,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=BIGINT},
      l2 = #{record.l2,jdbcType=VARCHAR},
      l3 = #{record.l3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="love.xihongshi.bean.Merchant">
    update merchant
    <set>
      <if test="mname != null">
        mname = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="principalname != null">
        principalname = #{principalname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        phonenum = #{phonenum,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="l2 != null">
        l2 = #{l2,jdbcType=VARCHAR},
      </if>
      <if test="l3 != null">
        l3 = #{l3,jdbcType=VARCHAR},
      </if>
    </set>
    where mid = #{mid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="love.xihongshi.bean.Merchant">
    update merchant
    set mname = #{mname,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      principalname = #{principalname,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      phonenum = #{phonenum,jdbcType=INTEGER},
      uid = #{uid,jdbcType=BIGINT},
      l2 = #{l2,jdbcType=VARCHAR},
      l3 = #{l3,jdbcType=VARCHAR}
    where mid = #{mid,jdbcType=BIGINT}
  </update>
</mapper>